$btn-border-radius: 0.3rem;
$btn-icon-padding: 6px 16px;

$navigation-drawer-border-width: 0px;

$app-bar-elevation: 10;

$card-border-radius: 10px;
$card-elevation: 0;

$menu-content-border-radius: 15px;

$toolbar-elevation: 0;

$tabs-bar-background-color: #23262e;

$utilities: (
  margin-start: false,
  margin-end: false,
  negative-margin: false,
  negative-margin-x: false,
  negative-margin-y: false,
  negative-margin-top: false,
  negative-margin-bottom: false,
  negative-margin-left: false,
  negative-margin-right: false,
  negative-margin-start: false,
  negative-margin-end: false
);
