/* Scroll Bar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background-color: #23262e !important;
}

/* Theme */
.theme--dark.v-application {
  background-color: #23262e !important;
}

/* Transition */
html {
  scroll-behavior: smooth;
}

.page-enter-active,
.page-leave-active {
  transition-property: opacity, left;
  transition-duration: 0.5s, 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* Custom */
.zmax {
  z-index: 999;
}

.g-10 {
  gap: 10px;
}

/* Customize */
.v-overlay__scrim {
  background-color: #3d4754 !important;
}
